body {
    background-image: url('../img/stars.png');
    background-attachment: fixed;
    
    -webkit-animation: space 30s linear 0s infinite;
    animation: space 30s linear 0s infinite;
}

.banana-container {
    width: 300px;
    height: 300px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.banana {
    background-image: url('../img/banana.png');
    background-size: contain;
    background-repeat: no-repeat;
    
    width: 300px;
    height: 300px;
    
    -webkit-animation: spin 20s linear 0s infinite;
    animation: spin 20s linear 0s infinite;
}

.name {
    background-image: url('../img/spacebananas.png');
    background-repeat: no-repeat;
    background-position: 0px 20px;
    
    width: 465px;
    height: 236px;
    
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

@-webkit-keyframes space {
    from {background-position:   0px 0px;}
    to   {background-position: 960px 0px;}
}

@keyframes space {
    from {background-position:   0px 0px;}
    to   {background-position: 960px 0px;}
}

@-webkit-keyframes spin {
    0%    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
    25%   {
        -webkit-transform: rotate(270deg);
                transform: rotate(270deg);
    }
    50%   {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    75%   {
        -webkit-transform: rotate( 90deg);
                transform: rotate( 90deg);
    }
    100%  {
        -webkit-transform: rotate(  0deg);
                transform: rotate(  0deg);
    }
}

@keyframes spin {
    0%    {
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
    }
    25%   {
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
    }
    50%   {
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    }
    75%   {
        -ms-transform: rotate( 90deg);
            transform: rotate( 90deg);
    }
    100%  {
        -ms-transform: rotate(  0deg);
            transform: rotate(  0deg);
    }
}
